<article class="text">
  <h3><a href="/<%= text.slug %>"><%= text.title %></a></h3>
  <p><%= text.summary %></p>

  <div class="ctrls">
    <input type="checkbox" class="seltext" name="box[texts]" value="<%= text._id %>" />
    <a class="btn" href="/<%= text.slug %>">Edit</a>
    <input type="submit" name="del_<%= text._id %>" value="x" class="btn btn-danger btn-mini" />
  </div>

</article>