extends layout

mixin renderBox(box)
  article.text
    h3
      a(href='/' + box.slug)= box.name
    - if (box.displaySummary && box.displaySummary.length)
      p.summary= box.displaySummary

    - each child in box.children
      mixin renderBox(child)

    input.seltext(type='checkbox', name='boxids[]', value=box._id)
    .ctrls
      a.btn(href='/' + box.slug) Edit
      if box.tags.length
        span.tags Tags: 
          - each tag in box.tags
            em= tag.name
      input.btn.btn-danger.btn-mini(type='submit', name='del_'+box._id, value='x')

block body
  div.container
    
    form(action='/boxes/manage', method='POST')
      nav.ctrls.span3
        h1
          a(href='/') Lexbox
        section#boxctrls
          p
            | Tag selected with:
            br
            input#boxname(type='text', name='tagname')
            br
            input#dobox(type='submit', name='dotags', value='Do it')
          
          p
            label(for='boxcolor') Color selected:
            input#boxcolor(type='text', name='boxcolor', value='', placeholder='hex or English')
            br
            input#colorbox(type='submit', name='colorbox', value='Do it')

          p
            label(for='parentbox') Move selected into:
            select#parentbox(name='parentbox')
              - each box in boxes
                option(value=box.id)= box.name
            br
            input#reparent(type='submit', name='reparent', value='Do it')


      .content.span9
        nav.topnbottom.top
          a.btn.btn-info(href='/boxes/new') New text

        section.boxes
          - if (boxes.length)
            - each box in boxes
              mixin renderBox(box)
          - else
            p No boxes.

        nav.topnbottom.bottom
          a.btn.btn-info(href='/boxes/new') New text

