<!DOCTYPE html>
<html>
  <head>
    <title>Lexbox</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/lexbox.css' />

    <!-- script type="text/javascript" src="/js/jquery.min.js"></script -->
    <!-- script type="text/javascript" src="/js/textinputs_jquery_src.js"></script -->
  </head>
  <body id="edittext">
    <div class="container">
      <div class="row">

        <% if (text == null) text = {title: '', body: ''}; %>
        <% var newtext = text.title == '' && text.body == ''; %>
        <nav class="ctrls span3">

          <h1>Lexbox</h1>

          <% if (err) { %>
            <div class="alert alert-error"><%= err %></div>
          <% } %>
          
          <section id="tags">
            Tagged:
            <ul>
              <% text.tags.forEach(function(tag) { %>
                <li><%= tag.name %></li>
              <% }) %>
            </li>
          </section>

        </nav>
        <article class="content span9">
          <form method="POST" action="<%= newtext ? '/texts/new' : '/' + text.slug %>">

            <input type="text" name="title" id="title" value="<%= text.title %>" placeholder="Enter title" /><br />
            <textarea name="body" id="body" wrap="virtual" rows="20"><%= text.body %></textarea>

            <div class="pull-right">
              <input type="submit" name="go" id="go" value="Save" />
            </div>

            <% if (!newtext) { %>
              <input type="hidden" name="id" id="id" value="<%= text._id %>" />
            <% } %>
          </form>
        </article>
        
      </div>
    </div>

    <script type="text/javascript">
      /* $(function(){
        $("#textctrls").on("click", ".linkbtn", function(){
          var tspan = $("#body").getSelection();
          $("#body").replaceSelectedText("_linkcode(" + tspan.text + ") or whatever");
        });
        
      }); */
    </script>

  </body>
</html>