<% var pageId = "edittext", pageTitle = text.title; %>
<% if (typeof newtext == 'undefined') newtext = false; %>
<% include header %>

<form method="POST" action="<%= newtext ? '/texts/new' : '/' + text.slug %>">

  <nav class="ctrls span3">

    <h1><a href="/">Lexbox</a></h1>

    <% if (err) { %>
      <div class="alert alert-error"><%= err %></div>
    <% } %>
    
    <section id="tags">
      Tagged:
      <ul>
        <% text.tags.forEach(function(tag, tagnum) { %>
          <input type="hidden" name="tags[]" value="<%= tag.name %>" />
          <li>
            <%= tag.name %>
            <a href="/<%= text.slug %>/tags/<%= tagnum %>/remove" class="btn btn-mini btn-danger" rel="nofollow">x</a>
          </li>
        <% }) %>
      </ul>
      
      Add: <input type="text" name="newtag" id="newtag" value="" placeholder="new tag" />
      <input type="submit" name="dotag" id="dotag" value="Add" />
    </section>

    <section id="essences">
      Summary:
      <textarea id="summary" name="summary"><%= text.summary || '' %></textarea>
    </section>


  </nav>
  <article class="content span9">

      <input type="text" name="title" id="title" value="<%= text.title %>" placeholder="Enter title" /><br />
      <textarea name="body" id="body" wrap="virtual" rows="20"><%= text.body %></textarea>

      <div class="pull-right">
        <input type="submit" name="go" id="go" value="Save" />
      </div>

      <% if (!newtext) { %>
        <input type="hidden" name="id" id="id" value="<%= text._id %>" />
      <% } %>
    
  </article>
  
</form>

<% include footer %>